@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-mono";
@plugin "tailwind-clamp";

/* Custom variables */
@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-roboto-mono: "Roboto Mono Variable", monospace;
  --breakpoint-xs: 20rem;
}

/* View transitions */
/* "Blinds" Transition to Dark Mode */
@keyframes foreground-theme-dark {
  from {
    clip-path: rect(auto auto 0% auto);
    opacity: 70%;
    /* clip-path: rect(auto 0% auto auto); */
    /* clip-path: polygon(0% 0%, 0% 0%, 0% 0%); */
  }

  to {
    clip-path: rect(auto auto 100% auto);
    opacity: 100%;
    /* clip-path: rect(auto 100% auto auto); */
    /* clip-path: polygon(0% 0%, 0% 200%, 200% 0%); */
  }
}

/* "Sunrise" Transition to Light Mode */
@keyframes foreground-theme-light {
  from {
    clip-path: circle(200% at center 300%);
    opacity: 70%;
    /* clip-path: rect(100% auto auto auto); */
    /* clip-path: rect(auto 0% auto auto); */
    /* clip-path: polygon(0% 0%, 0% 0%, 0% 0%); */
  }

  to {
    clip-path: circle(150% at center 100%);
    opacity: 100%;
    /* clip-path: rect(0% auto auto auto); */
    /* clip-path: rect(auto 100% auto auto); */
    /* clip-path: polygon(0% 0%, 0% 200%, 200% 0%); */
  }
}

/* 768px = md */
/* Default fade transition on mobile (others are laggy) */
@media (width < 768px) {
  @keyframes foreground-theme-light {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  @keyframes foreground-theme-dark {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }
}

::view-transition-group(root) {
  animation-duration: 400ms;
  z-index: 0;
}

::view-transition-old(foreground) {
  animation: none;
}

:root[data-theme="dark"]::view-transition-new(foreground) {
  animation-name: foreground-theme-dark;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
  animation-delay: 20ms;
}

::view-transition-new(foreground) {
  animation-name: foreground-theme-light;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
}

@media (width < 768px) {
  ::view-transition-new(foreground) {
    animation-duration: 300ms;
    animation-delay: 0ms;
    animation-timing-function: ease-in;
  }
}

:root {
  --color-background: oklch(97.4% 0.026053 90.1);
  --color-primary: hsl(
    from var(--color-background) h calc(s * 0.45) calc(l * 0.85)
  );
  --color-foreground: oklch(26.7% 0.048517 219.8);
  --color-secondary: oklch(64.4% 0.101908 187.4);
  --color-accent: oklch(65.4% 0.133917 85.7);
  --color-select: oklch(61.5% 0.139389 244.9);
  --color-confirm: oklch(77.9% 0.170945 144.3);
  --color-destructive: oklch(58.6% 0.206442 27.1);

  --select: var(--color-select);
  --radius: 0.625rem;
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-foreground);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary);
  --secondary-light: color-mix(in oklch, var(--color-secondary) 50%, white);
  --secondary-dark: color-mix(in oklch, var(--color-secondary) 75%, black);
  --muted: hsl(var(--color-primary) / 0.35);
  --muted-foreground: oklch(from var(--color-foreground) l c h / 0.35);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent);
  --destructive: var(--color-destructive);
  --confirm: var(--color-confirm);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* Dark mode */
@custom-variant dark (&:where([data-theme="dark"] *));

:root[data-theme="dark"] {
  --color-background: oklch(26.7% 0.048517 219.8);
  --color-primary: hsl(
    from var(--color-background) h calc(s * 0.55) calc(l * 1.85)
  );
  --color-foreground: oklch(93.1% 0.026033 92.4);
  --color-secondary: oklch(55.5% 0.172041 277);
  --color-accent-foreground: oklch(88.4% 0.154486 90.9);
  --accent-foreground: var(--color-accent-foreground);
  --color-select: oklch(74.7% 0.142922 88.5);
  --color-confirm: oklch(52.2% 0.080764 176);
  --color-destructive: oklch(58.6% 0.206442 27.1);
  --muted-foreground: oklch(from var(--color-foreground) l c h / 0.65);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-select: var(--select);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-light: var(--secondary-light);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-confirm: var(--confirm);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
